.siderNewArrival {
  min-height: 100vh !important;
  /* position: sticky !important; */
  overflow: hidden !important;
  left: 0;
  bottom: 0;
  top: 10;
  min-width: 100vh;
  background: #15202b;
}
.headerNewArrival {
  padding-top: 8px !important;
  min-width: 100vh;
  background: #15202b;
}
.contentNewArrival {
  margin: 5px 8px;
  padding: 10px;

  color: white;
  border-left: 2px solid #353f4a;
  border-top: 2px solid #353f4a;
  border-top-left-radius: 10px !important;
}
