.ScanheadNew {
  display: flex;
  gap: 10px;
  font-size: 35px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 900 !important;
}
.openCardNew {
  animation: collapseCard 0.3s ease forwards;
  max-height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-height: 610px !important;
  width: 1250px !important;
  max-height: 630px;
  margin: 0 auto;
  overflow: auto;
  background: #15202b;
}
