.divReport {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btnSearch{
    background-color: rgb(16, 114, 242) !important;
}


.reportTableSpare {
  width: auto;
  margin-top: 20px;
  min-height: 100px;
  margin-top: 30px !important;
  max-height: 500px !important;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.30);
  color: red !important;
  padding: 0px !important;
}
.reportTableSpare th {
  height: 30px !important;
  padding: 0px !important;
  text-align: center !important;
  background-color: #454545 !important;
  color: white !important;
}
