.openCard{
    animation: collapseCard 0.3s ease forwards;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 1250px !important;
    height: 600px !important;
    margin: 0 auto;
    overflow: hidden !important;
}
