.SparedashboardContainer {
  width: 100%;
}
.SparedashboardsmallCard .ant-card-body {
  padding: 0.625rem 1.5rem 1.5rem 1.5rem !important; /* 10px 24px 24px 24px / 16 */
}
.SparedashboardsmallCard {
  width: 45.5%;
  height: 15.625rem !important;
  font-size: 2.1875rem;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.SparelogoCard {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
}
.SparechartCard {
  margin-top: 0.625rem;
  width: 100%;
  height: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}
.SparetableData {
  width: 95%;
  height: 91.5%;
  overflow: hidden;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.SpareTableDashboard {
  width: 100%;
  overflow-x: auto;
}
.SpareTableDashboard th {
  width: 30px !important;
  padding: 5px !important;
  text-align: center !important;
  background-color: #454545 !important;
  color: white !important;
}
.SparelogoCard h1 {
  font-size: 1.875rem;
  font-family: sans-serif;
  font-weight: bold;
}

@media (max-resolution: 96dpi) {
  .SparedashboardsmallCard {
    height: 16rem;
    font-size: 2rem;
  }

  .SparechartCard {
    height: 660px;
  }

  .SparetableData {
    height: 550px;
  }
  .SpareTableDashboard th{
    padding: 20px !important;
  }
}

.Sparespin {
  animation: spin 9s linear infinite;
}
