.TransferopenCard{
    animation: collapseCard 0.3s ease forwards;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 98% !important;
    height: 100%!important;
    overflow-y: scroll;
}
.TableSub th{
    text-align: center !important; 
    background-color: #a3a3a336 !important;
    color: black !important;    
   }
@media (max-resolution: 96dpi) {
    .TransferopenCard {
      width: 98% !important;
      height: 100% !important;
      overflow-y: scroll;
    }
  }
