.dashboardsmallCard .ant-card-body {
    padding: 10px 24px 24px 24px !important;
  }
.dashboardsmallCard {
    width: 250px;
    height: 250px !important;
    font-size: 35px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
.logoCard{
    width: 750px;
    height: 150px !important; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    }
.chartCard{
    margin-top: 10px;
    height: 450px;;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-x: auto;
}
.tableData{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    width: 510px !important;
    height: 350px;
    overflow-y: auto;
}
.TableDashboard{
    max-height: 100px !important;
}
.logoCard h1{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    /* margin-top: 30px; */
}
